  :root{
/*          font-size: 62.5%;*/
       }

       body{
           background: #d4b326;
           font-family: helvetica, sans-serif;
/*           font-size:1.6rem;*/
       }

       main{
           display: grid;
           grid-gap: 5px;
           grid-auto-rows: minmax(50px, auto);
       }
       article{

           background: #fff;
           padding: 5px;
       }

       @media screen and (min-width:480px){

           body{
/*               font-size: 1.3rem;*/
           }

           header,main{
               max-width: 960px;
               margin: 0 auto;
           }

              article{

           background: #666;
           padding: 5px;
       }

           main{
               grid-template-columns: repeat(4, 1fr);

           }

           article:nth-child(4n+2),  article:nth-child(4n+3){
               grid-column-end: span 3;
               color: #d4b326;
           }
           article:first-child, article:last-child{
               background: #fff;
               color: #000;
           }
       }
